# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
.poetry-cache/

# Editors / OS
.idea/
.vscode/
.DS_Store

# Bytecode / coverage
.coverage
htmlcov/
pytest_cache/
.mypy_cache/
ruff_cache/

# Containers
*.log
.build/

# Poetry
.poetry/

# Local overrides
.env.local
.envrc
