name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run lint (Docker)
      run: make lint

  typecheck:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run typecheck (Docker)
      run: make typecheck

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run tests (Docker)
      run: make tests
